.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 1rem;
}

.row .contents {
  padding: 0.4rem 0.6rem;
}

.thumbnail {
  width: 150px;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
